.env
.venv
.venv-312
__pycache__/
.ipynb_checkpoints/
.vscode/
.DS_Store
*.pyc
*.pyo
*.pyd
*.pydc
*.pydm
*.pydx
*.swp
*.swo
*.log
*.sqlite3
*.db
*.egg-info/
dist/
build/
htmlcov/
.coverage
.tox/
.nox/
.venv-312/Lib/site-packages/PyYAML-6.0.2.dist-info/WHEEL
